/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 11/05/2021, 19:15:40
    Author     : pc
*/

* {
    padding         :0px;
    margin          :0px;
    box-sizing      : border-box;
    text-decoration : none;
}